<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p># of phone numbers: <%= @contact.phone_numbers.size %> </p>

<p>
<strong>Phone numbers:</strong>
</p>
<% @contact.phone_numbers.each do |phone_number| %>
<p>
  <%= phone_number.phone_type %>
  <%= phone_number.number %>
</p>
<% end %>

<p>
<strong>Addresses:</strong>
</p>
<% @contact.addresses.each do |address| %>
<p>
  <%= address.street %>
  <%= address.city %>
  <%= address.region %>
  <%= address.country %>
  <%= address.postal_code %>
</p>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
